<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SVD Movie Recommendations</title>
    <meta name="viewport" content="initial-scale=1,user-scalable=no">

    <link href="/static/style.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css">
    <link href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">

    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js"></script>
    <script>
        $(function() {
            var socket = io.connect("<%= request.protocol %>://<%= request.headers.host.split(':')[0] %>:8888");

            $("#finalize-button").click(function() {
                socket.emit("toggleSiteMode", function(resultsCompiled) {
                    if (resultsCompiled) {
                        $("#finalize-button").text("Reopen voting");
                    } else {
                        $("#finalize-button").text("Finalize voting and redirect everyone to the results");
                    }
                });
            });
        });
    </script>

</head>
<body>
    <div id="header">
        <h1>SVD Movie Recommendations</h1>
        <h2>Admin Dashboard</h2>
    </div>
    <div id="controls">
        <button id="finalize-button"><% if (resultsCompiled) { %>Reopen voting<% } else { %>Finalize favorites and move everyone to the results page<% } %></button>
    </div>
</body>
</html>
