<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SVD Movie Recommendations</title>
    <meta name="viewport" content="initial-scale=1,user-scalable=no">

    <link href="/static/style.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css">
    <link href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">

    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/fastclick/1.0.0/fastclick.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js"></script>

    <script>
        $(function() {
            FastClick.attach(document.body);
            <% console.log(request.headers) %>
            var socket = io.connect("<%= request.protocol %>://<%= request.headers.host.split(':')[0] %>:8888");

            $(".movie").click(function() {
                $(this).toggleClass("favorited");
                $(".heart i", this).toggleClass("fa-heart fa-heart-o");
                var movieID = $(this).data("id");

                if ($(this).hasClass("favorited")) {
                    socket.emit("addFavorite", movieID, function(ack) {
                        console.log(ack);
                    });
                } else {
                    socket.emit("removeFavorite", movieID, function(ack) {
                        console.log(ack);
                    });
                }
            });


            socket.on("reload", function() {
                location.reload(true);
            });
        });
    </script>
</head>
<body>
    <div id="header">
        <h1>SVD Movie Recommendations</h1>
        <h2>Tap on your favorite movies</h2>
    </div>

    <ul class="years">
        <% for(var i=0; i < moviesByYear.length; ++i) {%>
            <li class="year">
                <h3><%= moviesByYear[i].year %></h3>
                <ul class="movies">
                    <% for(var j=0; j < moviesByYear[i].movies.length; ++j) {%>
                        <li class="movie<%if (moviesByYear[i].movies[j].favorited){%> favorited<%}%>" data-id="<%= moviesByYear[i].movies[j]._id %>">
                            <div class="heart">
                                <i class="fa fa-heart<%if (!moviesByYear[i].movies[j].favorited){%>-o<%}%>"></i>
                            </div>
                            <div class="poster">
                                <img src="/static/posters/<%= moviesByYear[i].movies[j]._id %>.jpg">
                            </div>
                            <div class="title">
                                <%= moviesByYear[i].movies[j].title %>
                            </div>
                        </li>
                    <% } %>
                </ul>
            </li>
        <% } %>
    </ul>
</body>
</html>
